
      <div class="row">
          <div class="col s4 m4">
            <div class="card">
              <div class="card-image">
                <img src="/assets/images/logo.png">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>Este curso te entrenara con los conocimientos y aptitudes básicas necesarias 
                  para el Soporte Vital Avanzado Pediátrico (SVAP) 
                  Y entrenamiento en Reanimación Básica. </p>
              </div>
              <div class="card-action">
                <a href="#">Inscribete aquí</a>
              </div>
            </div>
          </div>
          <div class="col s4 m4">
              <div class="card">
                <div class="card-image">
                  <img src="/assets/images/logo.png">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>Este curso esta orientado a la capacitación de profesionales de la salud en 
                    las habilidades básicas y avanzadas para la atención inicial de urgencias 
                    cardiorrespiratorias en un medio pre e intrahospitalario.</p>
                </div>
                <div class="card-action">
                  <a href="#">Inscribete aquí</a>
                </div>
              </div>
            </div>
            <div class="col s4 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="/assets/images/logo.png">
                    <span class="card-title">Card Title</span>
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Inscribete aquí</a>
                  </div>
                </div>
              </div>
            
        </div>