<div class="center"><h3>Listado Clientes</h3></div>
<table class="striped">
    <thead>
      <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Email</th>
          <th>Profesion</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let clientes of clientesDataService.clientesLista">
        <td>{{clientes.cedula}}</td>
        <td>{{clientes.nombre}}</td>
        <td>{{clientes.apellido}}</td>
        <td>{{clientes.telefono}}</td>
        <td>{{clientes.direccion}}</td>
        <td>{{clientes.correo}}</td>
        <td>{{clientes.profesion}}</td>
       

      </tr>
     
    </tbody>
  </table>